html {
  min-width: 500px;
  max-width: 652px;
  width: 100%;
  display: block;
  margin: 0 auto;
  background-color: whitesmoke;
}

body {
  width: 100%;
  max-width: 1140px;
  margin: 60px auto;
  border-radius: 50px;
  color: white;
}

h1 {
  width: 385px;
}

h2 {
  font-size: 16px;
}

form {
  min-width: 400px;
}
h3 {
  font-size: 90px;
  font-weight: 200;
  margin-top: 60px;
  margin-left: 50px;
}
h4 {
  margin-left: 20px;
  font-size: 18px;
  margin-top: 15px;
}

.container {
  width: 100%;
  padding: 60px;
  border-radius: 50px;
  background: linear-gradient(
    0deg,
    rgba(209, 156, 179, 1) 0%,
    rgba(31, 65, 106, 1) 100%
  );
}

.resonsive-site {
  max-width: 800px;
  margin: 60px auto;
}
.current-date {
  font-size: 14px;
}

.change-city-box {
  border-radius: calc(0.5 * var(--ntp-realbox-height));
}

#location-icon {
  color: red;
  font-size: 30px;
  border: none;
}

.current-weather {
  margin-top: 20px;
}
.weather-image {
  display: block;
  margin: 0 auto;
  width: 150px;
  margin-top: 40px;
}

.container-flexbox {
  display: flex;
  flex-direction: row;
}

.box1 {
  width: 300px;
  position: relative;
  left: 5%;
  top: 100px;
}

#weather-icon {
  width: 135px;
}

.wind,
.humidity {
  font-weight: bold;
  font-size: 14px;
}
.humidity {
  margin-bottom: 20px;
}
#wind-speed,
#humidity-percentage {
  font-weight: lighter;
}

.forecast-day {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.maxTemp {
  font-weight: bold;
}

#max-min-temp {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.icon {
  padding-right: 20px;
  width: 50px;
  max-width: 50;
  align-content: space-between;
}

.bottom-small-text {
  text-align: center;
  margin-top: 50px;
  border-radius: 5px;
}
#coded-by-mi {
  margin-top: 15px;
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}
