html {
  min-width: 500px;
  max-width: 652px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

body {
  max-width: 652px;
  color: white;
}

h1 {
  width: 385px;
}

h2 {
  font-size: 16px;
}

form {
  min-width: 400px;
}
h3 {
  font-size: 130px;
  font-weight: 400;
}
h4 {
  text-align: center;
  font-size: 18px;
}

.container {
  min-width: 550px;
  max-width: 850px;
  padding: 35px;
  border: solid;
  border-radius: 10px;
  background: linear-gradient(
    0deg,
    rgba(209, 156, 179, 1) 0%,
    rgba(31, 65, 106, 1) 100%
  );
}

.metric {
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-left: 50px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  font-size: calc(1.1rem + 1.5vw);
}
.current-date {
  font-size: 14px;
}

.change-city-box {
  min-width: 400px;
  border-radius: calc(0.5 * var(--ntp-realbox-height));
}

#location-icon {
  color: red;
  font-size: 30px;
  border: none;
}
.current-weather {
  margin-top: 20px;
}
.weather-image {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.container-flexbox {
  display: flex;
  flex-direction: row;
}

.box1 {
  width: 300px;
  position: relative;
  left: 5%;
  top: 100px;
}
.wind,
.humidity {
  font-weight: bold;
}
#wind-speed,
#humidity-percentage {
  font-weight: lighter;
}

.dog-image {
  width: 260px;
}

.forecast-day {
  text-align: center;
  font-weight: bold;
}

.five-day-forecast {
  display: flex;
  flex-direction: row;
  align-content: normal;
  justify-content: space-between;
}

.maxTemp {
  font-weight: bold;
}

.icon {
  padding-right: 20px;
}
#coded-by-mi {
  text-align: center;
  margin-top: 15px;
}

a {
  text-decoration: none;
}
